<h1>Listing PV Data</h1>

<table>
  <tr>
    <th>AC Power</th>
    <th>Total kWh</th>
    <th>Date</th>
    <th colspan="3"></th>
  </tr>

  <% @pv_data.each do |pv_datum| %>
      <tr>
        <td><%= pv_datum.ac_power %></td>
        <td><%= pv_datum.total_kwh %></td>
        <td><%= pv_datum.created_at %></td>
        <td><%= link_to 'Show', pv_datum_path(pv_datum) %></td>
        <td><%= link_to 'Edit', edit_pv_datum_path(pv_datum) %></td>
        <td><%= link_to 'Destroy', pv_datum_path(pv_datum),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to 'New PV Datum', new_pv_datum_path %></p>