<hr>

<%= params.inspect %>


<p>
  <strong>AC Power:</strong>
  <%= @pv_datum.ac_power %>
</p>

<p>
  <strong>AC Voltage:</strong>
  <%= @pv_datum.ac_voltage %>
</p>

<p>
  <strong>DC Voltage:</strong>
  <%= @pv_datum.dc_voltage %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @pv_datum.temperature %>
</p>

<p>
  <strong>Total kWh:</strong>
  <%= @pv_datum.total_kwh %>
</p>

<p>
  <strong>Incident Angle:</strong>
  <%= @pv_datum.incident_angle %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pv_datum.status %>
</p>
<hr>
