<h1>New Inverter</h1>
<%= form_for :env_datum, url: env_data_path do |f| %>
    <p>
      <%= f.label :temperature %><br>
      <%= f.text_field :temperature %>
    </p>

    <p>
      <%= f.label :humidity %><br>
      <%= f.text_field :humidity %>
    </p>

    <p>
      <%= f.label :insol_level %><br>
      <%= f.text_field :insol_level %>
    </p>

    <p>
      <%= f.label :wind_speed %><br>
      <%= f.text_field :wind_speed %>
    </p>

    <p>
      <%= f.label :wind_direction %><br>
      <%= f.text_field :wind_direction %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', env_data_path %>