<p>
  <strong>Temperature:</strong>
  <%= @env_datum.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @env_datum.humidity %>
</p>

<p>
  <strong>Insolation Level:</strong>
  <%= @env_datum.insol_level %>
</p>

<p>
  <strong>Wind Speed:</strong>
  <%= @env_datum.wind_speed %>
</p>

<p>
  <strong>Wind Direction:</strong>
  <%= @env_datum.wind_direction %>
</p>

<%= link_to 'Back', env_data_path %>