<h1>Listing inverters</h1>

<table>
  <tr>
    <th>IP Address</th>
    <th colspan="3"></th>
  </tr>

  <% @inverters.each do |inverter| %>
      <tr>
        <td><%= inverter.ip_address %></td>
        <td><%= link_to 'Show', inverter_path(inverter) %></td>
        <td><%= link_to 'Edit', edit_inverter_path(inverter) %></td>
        <td><%= link_to 'Destroy', inverter_path(inverter),
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Inverter', new_inverter_path %>
