<h1>New Inverter</h1>
<%= form_for :inverter, url: inverters_path do |f| %>
    <% if @inverter.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@inverter.errors.count, "error") %> prohibited
            this inverter from being saved:
          </h2>
          <ul>
            <% @inverter.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude %>
    </p>

    <p>
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude %>
    </p>

    <p>
      <%= f.label :serial_num %><br>
      <%= f.text_field :serial_num %>
    </p>

    <p>
      <%= f.label :ip_address %><br>
      <%= f.text_field :ip_address %>
    </p>

    <p>
      <%= f.label :elevation %><br>
      <%= f.text_field :elevation %>
    </p>

    <p>
      <%= f.label :azimuth %><br>
      <%= f.text_field :azimuth %>
    </p>

    <p>
      <%= f.label :zenith %><br>
      <%= f.text_field :zenith %>
    </p>

    <p>
      <%= f.label :time_zone %><br>
      <%= f.text_field :time_zone %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', inverters_path %>