<p>
  <strong>IP Adress:</strong>
  <%= @inverter.ip_address %>
</p>

<p>
  <strong>Serial Number:</strong>
  <%= @inverter.serial_num %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @inverter.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @inverter.latitude %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @inverter.elevation %>
</p>

<p>
  <strong>Zenith:</strong>
  <%= @inverter.zenith %>
</p>

<p>
  <strong>Azimuth:</strong>
  <%= @inverter.azimuth %>
</p>

<p>
  <strong>Time Zone:</strong>
  <%= @inverter.time_zone %>
</p>

<h2>PV Data</h2>
<%= render @inverter.pv_data %>

<h2>Add a PV Datum:</h2>
<%= render 'pv_data/form' %>

<%= link_to 'Edit', edit_inverter_path(@inverter) %> |
<%= link_to 'Back', inverters_path %>